<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="../modules/vendor/chessboardjs0.3.0/css/chessboard-0.3.0.min.css">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
        <div id="chess-board" style="width: 400px"></div>
        <h4 id="status"></h4>
  </body>
</html>